:root{
    // Gradient
    --brand-gradient: linear-gradient(115.6deg, #000811 -7.5%, #000E17 105.49%);
    // Gray Colors
    --gray-900: #030E15;
    --gray-800: #2D3235;
    --gray-700: #4F5152;
    --gray-600: #78797A;
    --gray-500: #9A9D9E;
    --gray-400: #BABCBD;
    --gray-300: #C6C7C8;
    --gray-200: #DADCDD;
    --gray-100: #F6F6F6;
}